

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #101E3D;
    cursor:url('icons/cursor.png') , auto;
     /* overflow-x: hidden; */
}

html{
    font-size: 62.5%;
    cursor:url('icons/cursor.png') , auto;
    /* overflow-x: hidden;  */
}

html::-webkit-scrollbar {
    width: 1em;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .6rem rgba(255, 0, 0, 0.07);
    padding-left: .5rem;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(0, 234, 255);
    outline: .1rem solid slategrey;
}


p{
    font-size: 1.6rem;
    font-family: 'Nunito';
}

h1{
    font-size: 3.5rem;
    font-family: 'Diphylleia', serif;
}

h2{
    font-size: 3rem;
    font-family: 'Merriweather';
    /* font-weight: 600; */
}


a , button{
    font-size: 1.8rem;
    font-family: 'Montserrat';
}


/* 
--------------------------------------------
*************** Header Section **************
---------------------------------------------
*/
.header {
    z-index: 1;
    height: 100vh;
    /* background-color: #27374D; */
    background-color: #0c162b;
    color: white;
    position: relative;


}

.header h1{
    font-size: 4.5rem;
    pointer-events: none;
    position: relative;
}

.header span {
    font-weight: 900;
    color: crimson;
}

.home-section {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-btn {
    margin-top: 2rem;
}


.header-btn button{
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
    background-color: crimson;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    font-weight: 500;
}
.header-btn button i{
    padding-left: 2px;
}
.header-btn button:hover{
    border-color: crimson;
    color: white;
}
.header-btn button:hover i{
    border-color: crimson;
    color: white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    transform: rotate(90deg);
}


/* 
--------------------------------------------
*************** fixed Navbar Section **************
---------------------------------------------
*/

.main-row {
    color: white;
}


.nav-bar {
    background-color: #101E3D;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items:center;
    justify-content: center;
}

.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-bar ul {
    list-style: none;
    padding-right: 28rem;
}


.nav-bar ul li {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 800;
}
.nav-bar ul li a::before{
    position: absolute;
    content: '';
    background-color: crimson;
    height: .3rem;
    width: 0;
    left: 21rem;
    margin-top: 2.5rem;
}

.nav-bar ul li a:hover {
    color: crimson;
}
.nav-bar ul li a.active {
    color: crimson;
    width: 20%;
}

.nav-bar ul li a.active::before {
    color: crimson;
    width: 20%;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}


/* 
--------------------------------------------
*************** Social Media icons **************
---------------------------------------------
*/

.social-media-icons{
    position: relative;
}

.icons{
    position: absolute;
    display: flex;
    top: 28rem;
    left: -38rem;
}


.social-link{
    color: white;
    text-decoration: none;
}

.social-icons {
    font-size: 2.9rem;
    transition: all 1s;
    margin: 0 2.5rem;
  }
.social-icons:hover {
    -o-transition:.5s;
    background-color: rgb(255, 255, 255);
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }


.fa-facebook-square:hover {
    color: #3b5998;

}
.fa-github-square:hover {
    color: #040204;

}
.fa-linkedin:hover {
    color: #0A66C2;

}
.fa-instagram-square:hover {
    color: rgb(188, 35, 35);
}



/* 
-----------------------------------------------------
****************** Other Section *********************
--------------------------------------------------------
 */

.other-content h2 {
    padding-top: 8rem;
    width: 42vw;
}

/* 
-----------------------------------------------------
****************** About Section *********************
--------------------------------------------------------
 */

.about {
    background-color: #101E3D;
    /* height: 100vh; */
}


.about-tech{
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 700;
    color: rgb(12, 230, 230);
}

.about p {
    padding-top: 5rem;
    width: 40vw;
}


.highlight {
    color: white;
    text-decoration: none;
}

.highlight:hover {
    color: crimson;
}


/* 
-----------------------------------------------------
****************** Project Section *********************
--------------------------------------------------------
 */
.project {
    background-color: #101E3D;
    /* height: 100vh; */
}
.project h2{
    font-size: 3rem;
}

.project a {
    text-decoration: none;
    color: white;
}

.project a:hover span {
    text-decoration: none;
    color: rgb(0, 255, 255);
}

.project-tiles {
    padding-top: 5rem;
}

.project-row {
    width: 40vw;
    gap: 5rem;
    margin-left: 1px;
}

.project-col {
    transition: 0.5s;
}

.project-col:hover {
    /* glassmorphism effect */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transform: scale(1.04);
}

.project-col img {
    height: 9rem;
    padding: 1rem 2rem;
}


/* 
-----------------------------------------------------
****************** Contact Section *********************
--------------------------------------------------------
 */



.contact h2{
    margin-top: 5rem;
    padding-left: 12vw;
    font-size: 3rem;
    position: relative;
}
.contact h2::before{
    position: absolute;
    content: '';
    width: 16vw;
    border-bottom: 5px solid rgb(0, 255, 255);
    top: 19vh;
    right: 16vw;
}

.contact p{
    text-align: center;
    padding-right: 16rem;
    font-size: 1.8rem;
    padding-top: 5rem;
    color: #fff;
}

form {
    text-align: center;
    margin-top: 1rem;
    height: 45rem;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 .8rem 3.2rem 0 rgba(0, 0, 0, 0.37);
    padding: 2rem 3.5rem;
    margin-bottom: 3rem;
}

.contact form h2{
    font-size: 3rem;
}

form * {
    color: #fff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label {
    display: none;
    margin: 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
}

input {
    display: block;
    height: 5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 1rem;
    margin: 1.7rem 0;
    font-size: 1.6rem;
    font-weight: 200;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}


::placeholder {
    color: #b9b7b7c9;
    font-family: 'Nuninto';
    /* padding-top: .8rem; */
}

textarea {
    display: block;
    color: white;
    width: 100%;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.07);
    font-size: 1.6rem;
    resize: none;
    border-radius: 3px;
    padding: 1rem;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .6rem rgba(255, 255, 255, 0.07);
    padding-left: .5rem;
}

textarea::-webkit-scrollbar-thumb {
    background-color: white;
    outline: .1rem solid slategrey;
}

input:focus,
textarea:focus {
    box-shadow: .3rem .3rem 2rem 1px rgba(2, 248, 248, 0.415);
    border: 0.5px solid rgb(5, 201, 201);
    font-size: 1.5rem;
}

.contact button {
    margin-top: 2.5rem;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 1.5rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    position:relative;
  overflow:hidden;
  border-left: 4px solid rgb(0, 255, 255);
  border-right: 4px solid rgb(0, 255, 255);
}

.contact button:before{
    content:'';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:4px;
    background-color:rgb(0, 255, 255);;
    transition:all 1s;
  }
  .contact button:after{
    content:'';
    position:absolute;
    bottom:0;
    right:-100%;
    width:100%;
    height:4px;
    background-color:rgb(0, 255, 255);;
    transition:all 1s;
  }
  .contact button:hover:before {
    left:0;
  }
  .contact button:hover:after{
    right:0;
  }
   .contact span:before{
    content:'';
    position:absolute;
    top:-100%;
    right:0%;
    width:4px;
    height:100%;
    background-color:black;
    transition:all 1s;
  }
  .contact button:hover .contact span:before{
    top:0;
  }
  .contact span:after{
    content:'';
    position:absolute;
    bottom:-100%;
    left:0%;
    width:4px;
    height:100%;
    background-color:black;
    transition:all 1s;
  }
  .contact button:hover .contact span:after{
    bottom:0;
  }

/* .contact button:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    color: white;
    border: 2px solid #3a46e5;
} */

.mobile-view{
    display: none;
}